:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.redBanner {
    height: 100px;
    width: 1000px;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    align-items: center;
}
  
h1 {
    color: white;
    font-size: 7rem;
    text-shadow: -2px -2px 2px black,  
                    2px -2px 2px black,  
                    -2px  2px 2px black,  
                    2px  2px 2px black;  
    text-align: center;
}

h2 {
    color: black;
}

h3 {
    color: black;
}
